:root {
  --primary-color: #1c1c1c;
  --secondary-color: #f0b133;
  --text-color: #ffffff;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  position: relative;
}

/* Header & Navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li a:hover {
  color: var(--secondary-color);
}
.login-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}
.login-btn:hover {
  background-color: #d35400;
}

/* Cart button */
.cart-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

/* Main container for all menu items */
.menu-container {
  margin: 20px auto;
  max-width: 1100px;
  padding: 20px;
}

/* Container لكل فئة */
.category-container {
  margin-bottom: 30px;
}

/* عنوان الفئة */
.section-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

/* Grid للكروت */
.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Card Design */
.item-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
  width: 200px; 
}
.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.item-card img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  
}
.item-card h3 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}
.item-card p {
  font-size: 14px;
  color: #555;
  height: 45px;
}

/* Price & Button */
.price {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary-color);
  margin: 8px 0;
}
.add-btn {
  background: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.25s;
}
.add-btn:hover {
  background: #c0392b;
}
